*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat" , sans-serif;
}

body{
    height: 100vh;
    background:#03ffff;
    background-image: linear-gradient(120deg,#487eb0,#fbc531);
    min-height: 100vh;
}

.container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;

}
.addtask{
    width:100%;
    display: flex;
    padding: 10px 0;

}

.addtask > input[type="text"]{
    width: 100%;
    color: #333;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    font-size: 18px;
    outline: none;

}
.addtask button{
    margin: 0 10px;
    background:rgb(3, 55, 97);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.NotCompleted, .Completed{
    margin: 5px 0;
    padding: 10px;
}
h3{
    font-size: 20px;
    font-style: bold;
    text-transform: uppercase;
    text-align: left;
    color: #262629;
    font-family: 'Times New Roman';
    font-weight: bolder;
    text-decoration: underline;
}
ol{
    list-style: none;
    counter-reset: my-counter;
}
ol li{
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background: rgba(255,255,255,0.5);
    font-size: 22px;
    counter-increment: my-counter;
}
ol.Completed li{
    background:rgba(0,0,0,.5);
    color:#fff;
}
ol li::before{
    content: counter(my-counter);
    background: #0c5485;
    width: 2rem;
    height: 2rem;
    border-radius: 70%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin-right: 0.5rem;
}
li button{
    float: right;
    padding: 5px;
    font-size: 15px;
    line-height: 28px;
    margin-right: 10px;
    background-color: #0a4d8d;
    outline-color:none;
    cursor: pointer;
    color: white;

}
